In [1]:
!pip install sqlalchemy==1.3.9
!pip install ibm_db_sa
!pip install ipython-sql

Requirement already satisfied: sqlalchemy==1.3.9 in c:\users\acer\anaconda\lib\site-packages (1.3.9)

WARNING: Ignoring invalid distribution -qlalchemy (c:\users\acer\anaconda\lib\site-packages)
WARNING: Ignoring invalid distribution - (c:\users\acer\anaconda\lib\site-packages)
WARNING: Ignoring invalid distribution -qlalchemy (c:\users\acer\anaconda\lib\site-packages)
WARNING: Ignoring invalid distribution - (c:\users\acer\anaconda\lib\site-packages)
WARNING: Ignoring invalid distribution -qlalchemy (c:\users\acer\anaconda\lib\site-packages)
WARNING: Ignoring invalid distribution - (c:\users\acer\anaconda\lib\site-packages)
WARNING: Ignoring invalid distribution -qlalchemy (c:\users\acer\anaconda\lib\site-packages)
WARNING: Ignoring invalid distribution - (c:\users\acer\anaconda\lib\site-packages)
WARNING: Ignoring invalid distribution -qlalchemy (c:\users\acer\anaconda\lib\site-packages)
WARNING: Ignoring invalid distribution - (c:\users\acer\anaconda\lib\site-packages)
WARNING: Ignoring invalid distribution -qlalchemy (c:\users\acer\anaconda\lib\site-packages)
WARNING: Ignoring invalid distribution - (c:\users\acer\anaconda\lib\site-packages)

Requirement already satisfied: ibm_db_sa in c:\users\acer\anaconda\lib\site-packages (0.3.8)
Requirement already satisfied: ibm-db>=2.0.0 in c:\users\acer\anaconda\lib\site-packages (from ibm_db_sa) (3.1.4)
Requirement already satisfied: sqlalchemy>=0.7.3 in c:\users\acer\anaconda\lib\site-packages (from ibm_db_sa) (1.3.9)

WARNING: Ignoring invalid distribution -qlalchemy (c:\users\acer\anaconda\lib\site-packages)
WARNING: Ignoring invalid distribution - (c:\users\acer\anaconda\lib\site-packages)
WARNING: Ignoring invalid distribution -qlalchemy (c:\users\acer\anaconda\lib\site-packages)
WARNING: Ignoring invalid distribution - (c:\users\acer\anaconda\lib\site-packages)
WARNING: Ignoring invalid distribution -qlalchemy (c:\users\acer\anaconda\lib\site-packages)
WARNING: Ignoring invalid distribution - (c:\users\acer\anaconda\lib\site-packages)
WARNING: Ignoring invalid distribution -qlalchemy (c:\users\acer\anaconda\lib\site-packages)
WARNING: Ignoring invalid distribution - (c:\users\acer\anaconda\lib\site-packages)
WARNING: Ignoring invalid distribution -qlalchemy (c:\users\acer\anaconda\lib\site-packages)
WARNING: Ignoring invalid distribution - (c:\users\acer\anaconda\lib\site-packages)
WARNING: Ignoring invalid distribution -qlalchemy (c:\users\acer\anaconda\lib\site-packages)
WARNING: Ignoring invalid distribution - (c:\users\acer\anaconda\lib\site-packages)

Requirement already satisfied: ipython-sql in c:\users\acer\anaconda\lib\site-packages (0.4.1)
Requirement already satisfied: sqlalchemy>=0.6.7 in c:\users\acer\anaconda\lib\site-packages (from ipython-sql) (1.3.9)
Requirement already satisfied: prettytable<1 in c:\users\acer\anaconda\lib\site-packages (from ipython-sql) (0.7.2)
Requirement already satisfied: ipython-genutils>=0.1.0 in c:\users\acer\anaconda\lib\site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: ipython>=1.0 in c:\users\acer\anaconda\lib\site-packages (from ipython-sql) (7.31.1)
Requirement already satisfied: sqlparse in c:\users\acer\anaconda\lib\site-packages (from ipython-sql) (0.4.3)
Requirement already satisfied: six in c:\users\acer\anaconda\lib\site-packages (from ipython-sql) (1.16.0)
Requirement already satisfied: colorama in c:\users\acer\anaconda\lib\site-packages (from ipython>=1.0->ipython-sql) (0.4.6)
Requirement already satisfied: pygments in c:\users\acer\anaconda\lib\site-packages (from ipython>=1.0->ipython-sql) (2.14.0)
Requirement already satisfied: setuptools>=18.5 in c:\users\acer\anaconda\lib\site-packages (from ipython>=1.0->ipython-sql) (63.4.1)
Requirement already satisfied: pickleshare in c:\users\acer\anaconda\lib\site-packages (from ipython>=1.0->ipython-sql) (0.7.5)
Requirement already satisfied: decorator in c:\users\acer\anaconda\lib\site-packages (from ipython>=1.0->ipython-sql) (5.1.1)
Requirement already satisfied: jedi>=0.16 in c:\users\acer\anaconda\lib\site-packages (from ipython>=1.0->ipython-sql) (0.18.1)
Requirement already satisfied: traitlets>=4.2 in c:\users\acer\anaconda\lib\site-packages (from ipython>=1.0->ipython-sql) (5.8.1)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in c:\users\acer\anaconda\lib\site-packages (from ipython>=1.0->ipython-sql) (3.0.36)
Requirement already satisfied: matplotlib-inline in c:\users\acer\anaconda\lib\site-packages (from ipython>=1.0->ipython-sql) (0.1.6)
Requirement already satisfied: backcall in c:\users\acer\anaconda\lib\site-packages (from ipython>=1.0->ipython-sql) (0.2.0)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in c:\users\acer\anaconda\lib\site-packages (from jedi>=0.16->ipython>=1.0->ipython-sql) (0.8.3)
Requirement already satisfied: wcwidth in c:\users\acer\anaconda\lib\site-packages (from prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0->ipython>=1.0->ipython-sql) (0.2.6)

WARNING: Ignoring invalid distribution -qlalchemy (c:\users\acer\anaconda\lib\site-packages)
WARNING: Ignoring invalid distribution - (c:\users\acer\anaconda\lib\site-packages)
WARNING: Ignoring invalid distribution -qlalchemy (c:\users\acer\anaconda\lib\site-packages)
WARNING: Ignoring invalid distribution - (c:\users\acer\anaconda\lib\site-packages)
WARNING: Ignoring invalid distribution -qlalchemy (c:\users\acer\anaconda\lib\site-packages)
WARNING: Ignoring invalid distribution - (c:\users\acer\anaconda\lib\site-packages)
WARNING: Ignoring invalid distribution -qlalchemy (c:\users\acer\anaconda\lib\site-packages)
WARNING: Ignoring invalid distribution - (c:\users\acer\anaconda\lib\site-packages)
WARNING: Ignoring invalid distribution -qlalchemy (c:\users\acer\anaconda\lib\site-packages)
WARNING: Ignoring invalid distribution - (c:\users\acer\anaconda\lib\site-packages)
WARNING: Ignoring invalid distribution -qlalchemy (c:\users\acer\anaconda\lib\site-packages)
WARNING: Ignoring invalid distribution - (c:\users\acer\anaconda\lib\site-packages)

In [2]:
%load_ext sql

In [3]:
import csv, sqlite3

con = sqlite3.connect("my_data1.db")
cur = con.cursor()

In [4]:
%sql ibm_db_sa://wvs24142:5u1JvqLjKAgt8LO6@2f3279a5-73d1-4859-88f0-a6c3e6b4b907.c3n41cmd0nqnrk39u98g.databases.appdomain.cloud:30756/BLUDB?security=SSL

In [5]:
%sql select* from SPACEX LIMIT 5

 * ibm_db_sa://wvs24142:***@2f3279a5-73d1-4859-88f0-a6c3e6b4b907.c3n41cmd0nqnrk39u98g.databases.appdomain.cloud:30756/BLUDB
Done.

[(datetime.date(2010, 6, 4), datetime.time(18, 45), 'F9 v1.0  B0003', 'CCAFS LC-40', 'Dragon Spacecraft Qualification Unit', 0, 'LEO', 'SpaceX', 'Success', 'Failure (parachute)'),
 (datetime.date(2010, 12, 8), datetime.time(15, 43), 'F9 v1.0  B0004', 'CCAFS LC-40', 'Dragon demo flight C1, two CubeSats, barrel of Brouere cheese', 0, 'LEO (ISS)', 'NASA (COTS) NRO', 'Success', 'Failure (parachute)'),
 (datetime.date(2012, 5, 22), datetime.time(7, 44), 'F9 v1.0  B0005', 'CCAFS LC-40', 'Dragon demo flight C2', 525, 'LEO (ISS)', 'NASA (COTS)', 'Success', 'No attempt'),
 (datetime.date(2012, 10, 8), datetime.time(0, 35), 'F9 v1.0  B0006', 'CCAFS LC-40', 'SpaceX CRS-1', 500, 'LEO (ISS)', 'NASA (CRS)', 'Success', 'No attempt'),
 (datetime.date(2013, 3, 1), datetime.time(15, 10), 'F9 v1.0  B0007', 'CCAFS LC-40', 'SpaceX CRS-2', 677, 'LEO (ISS)', 'NASA (CRS)', 'Success', 'No attempt')]

In [6]:
%sql select Distinct launch_site from spacex

 * ibm_db_sa://wvs24142:***@2f3279a5-73d1-4859-88f0-a6c3e6b4b907.c3n41cmd0nqnrk39u98g.databases.appdomain.cloud:30756/BLUDB
Done.

[('CCAFS LC-40',), ('CCAFS SLC-40',), ('KSC LC-39A',), ('VAFB SLC-4E',)]

In [7]:
%sql 
%sql select launch_site from spacex where launch_site like 'CCA%'limit 5;

 * ibm_db_sa://wvs24142:***@2f3279a5-73d1-4859-88f0-a6c3e6b4b907.c3n41cmd0nqnrk39u98g.databases.appdomain.cloud:30756/BLUDB
 * ibm_db_sa://wvs24142:***@2f3279a5-73d1-4859-88f0-a6c3e6b4b907.c3n41cmd0nqnrk39u98g.databases.appdomain.cloud:30756/BLUDB
Done.

[('CCAFS LC-40',),
 ('CCAFS LC-40',),
 ('CCAFS LC-40',),
 ('CCAFS LC-40',),
 ('CCAFS LC-40',)]

In [8]:
%sql
%sql select sum(payload_mass__kg_) from spacex where customer = 'NASA (CRS)';

 * ibm_db_sa://wvs24142:***@2f3279a5-73d1-4859-88f0-a6c3e6b4b907.c3n41cmd0nqnrk39u98g.databases.appdomain.cloud:30756/BLUDB
 * ibm_db_sa://wvs24142:***@2f3279a5-73d1-4859-88f0-a6c3e6b4b907.c3n41cmd0nqnrk39u98g.databases.appdomain.cloud:30756/BLUDB
Done.

[(45596,)]

In [9]:
%sql
%sql SELECT AVG(payload_mass__kg_) FROM spacex WHERE Booster_Version LIKE 'F9 v1.1%'

 * ibm_db_sa://wvs24142:***@2f3279a5-73d1-4859-88f0-a6c3e6b4b907.c3n41cmd0nqnrk39u98g.databases.appdomain.cloud:30756/BLUDB
 * ibm_db_sa://wvs24142:***@2f3279a5-73d1-4859-88f0-a6c3e6b4b907.c3n41cmd0nqnrk39u98g.databases.appdomain.cloud:30756/BLUDB
Done.

[(2534,)]

In [10]:
%sql select min(DATE) from spacex where landing__outcome = 'Success (ground pad)'

 * ibm_db_sa://wvs24142:***@2f3279a5-73d1-4859-88f0-a6c3e6b4b907.c3n41cmd0nqnrk39u98g.databases.appdomain.cloud:30756/BLUDB
Done.

[(datetime.date(2015, 12, 22),)]

In [11]:
%sql select booster_version from spacex where landing__outcome = 'Success (drone ship)' and payload_mass__kg_ between 4000 and 6000;

 * ibm_db_sa://wvs24142:***@2f3279a5-73d1-4859-88f0-a6c3e6b4b907.c3n41cmd0nqnrk39u98g.databases.appdomain.cloud:30756/BLUDB
Done.

[('F9 FT B1022',), ('F9 FT B1026',), ('F9 FT  B1021.2',), ('F9 FT  B1031.2',)]

In [12]:
%sql select COUNT(MISSION_OUTCOME) as MISSION_OUTCOME from spacex group by MISSION_OUTCOME;

 * ibm_db_sa://wvs24142:***@2f3279a5-73d1-4859-88f0-a6c3e6b4b907.c3n41cmd0nqnrk39u98g.databases.appdomain.cloud:30756/BLUDB
Done.

[(1,), (99,), (1,)]

In [13]:
%sql select booster_version from spacex where payload_mass__kg_ = (select max(payload_mass__kg_) from spacex);

 * ibm_db_sa://wvs24142:***@2f3279a5-73d1-4859-88f0-a6c3e6b4b907.c3n41cmd0nqnrk39u98g.databases.appdomain.cloud:30756/BLUDB
Done.

[('F9 B5 B1048.4',),
 ('F9 B5 B1049.4',),
 ('F9 B5 B1051.3',),
 ('F9 B5 B1056.4',),
 ('F9 B5 B1048.5',),
 ('F9 B5 B1051.4',),
 ('F9 B5 B1049.5',),
 ('F9 B5 B1060.2',),
 ('F9 B5 B1058.3',),
 ('F9 B5 B1051.6',),
 ('F9 B5 B1060.3',),
 ('F9 B5 B1049.7',)]

In [14]:
%sql select BOOSTER_VERSION, launch_site, year(DATE) from spacex WHERE extract(YEAR FROM DATE) = '2015' and LANDING__OUTCOME = 'Failure (drone ship)';

 * ibm_db_sa://wvs24142:***@2f3279a5-73d1-4859-88f0-a6c3e6b4b907.c3n41cmd0nqnrk39u98g.databases.appdomain.cloud:30756/BLUDB
Done.

[('F9 v1.1 B1012', 'CCAFS LC-40', 2015),
 ('F9 v1.1 B1015', 'CCAFS LC-40', 2015)]

In [15]:
%sql select landing__outcome, count(landing__outcome) as total from spacex \
where landing__outcome like 'Success%' and DATE between '2010-06-04' and '2017-03-20' \
group by landing__outcome \
order by count(landing__outcome) desc;

 * ibm_db_sa://wvs24142:***@2f3279a5-73d1-4859-88f0-a6c3e6b4b907.c3n41cmd0nqnrk39u98g.databases.appdomain.cloud:30756/BLUDB
Done.

[('Success (drone ship)', 5), ('Success (ground pad)', 3)]

In [16]:
%sql select landing__outcome, count(landing__outcome) as total from spacex \
where landing__outcome like 'Failure%' and DATE between '2010-06-04' and '2017-03-20' \
group by landing__outcome \
order by count(landing__outcome) desc;

 * ibm_db_sa://wvs24142:***@2f3279a5-73d1-4859-88f0-a6c3e6b4b907.c3n41cmd0nqnrk39u98g.databases.appdomain.cloud:30756/BLUDB
Done.

[('Failure (drone ship)', 5), ('Failure (parachute)', 2)]